<h2>Product List</h2>
<ul>
    <!--
    <li (click)="selectedProduct = 'Webcam'">Webcam</li>
    <li (click)="selectedProduct = 'Microphone'">Microphone</li>
    <li (click)="selectedProduct = 'Wireless Keyboard'">Wireless Keyboard</li>
    -->
    <!-- For Structural Directive
    <li *ngFor="let product of products | sort; trackBy: trackByProducts" (click)="selectedProduct=product">
        {{product}}
    </li>
    -->
    @for (product of products | sort; track product.name; let i = $index;) {
        <li (click)="selectedProduct = product"> 
            <app-product-view [id]="i"></app-product-view>
        </li>
    }@empty {
        <li>There are no products.</li>
    }
</ul>
<!--
<app-product-detail 
    *ngIf="selectedProduct; else noProduct"
    #product
    [product]="selectedProduct"
    (bought)="onBuy($event)">
</app-product-detail>
<ng-template #noProduct>
    <p>No product selected!</p>
</ng-template>
-->
@if(selectedProduct){
<app-product-detail 
    #product
    [product]="selectedProduct"
    (bought)="onBuy($event)">
</app-product-detail>
}@else {
    <p>No product selected!</p>
}
<h2>Favorites</h2>
<app-favorites></app-favorites>
<!--Dynamic Component-->
<!--
<ng-template appProductHost></ng-template>
-->