<div>
@if (product$ | async; as product) {
    <h2>Product Details</h2>
    <h3>{{product.name}}</h3>
    <!-- Switch Structural Directive
    <div [ngSwitch]="name">
        <p *ngSwitchCase="'Webcam'">
            Product is used for video
        </p>
        <p *ngSwitchCase="'Microphone'">
            Product is used for audio
        </p>
        <p *ngSwitchDefault>
            Product is used for general use
        </p>
    </div>
    -->
    <span>{{product.price | currency: 'EUR'}}</span>
    <form (ngSubmit)="changePrice(product, price!)">
        <input placeholder="New price" name="price"  [(ngModel)]="price"/>
        <button type="submit">Change</button>
    </form>
    <p>
        @if(authService.isLoggedIn){
            <button (click)="buy(product)">Buy Now</button>
        }
        <button class="delete" (click)="remove(product)">Delete</button>
    </p>
}
</div>